@font-face {
  font-family: Fredoka;
  src: url(./assets/fonts/Fredoka-Regular.ttf);
}
@import "tailwindcss";
@layer base {
  html {
    @apply h-full;
  }
}

@theme{
  --font-fredoka: Fredoka , "sans-serif";
  --color-dgreen:#CBFF4D;
  --color-dgreenbg:#ffCBFF4D;
}
