@font-face {
  font-family: Fredoka;
  src: url(./assets/fonts/Fredoka-Regular.ttf);
}
@import "tailwindcss";
@layer base {
  html {
    @apply h-full;
  }
}

@theme{
  --font-fredoka: Fredoka , "sans-serif";
  --color-dyellow:#F8D400;
  --color-dyellowbg:#ffdf0080;
}
